@import "./App.scss";

.banner {
  position: absolute;
  width: 100%;
  height: 600px;
  left: 0px;
  top: 80px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0.001%,
    rgba(230, 255, 230, 1) 30%,
    rgba(190, 193, 255, 1) 100%
  );
  opacity: 100%;

  .wrapper {
    display: flex;
    position: absolute;
    top: 80px;
    width: 100%;
    // align-items: center;
    justify-content: center;

    // .wrapper {
    //   display: flex;
    //   justify-content: flex-start;
    //   width: 70%;
    // }
  }

  span {
    //position: relative;
    //left: 6em;
    //margin-left: 20%;
    font-weight: bold;
    font-size: 60px;
    color: #ffffff;
    margin-right: 400px;
  }
}

// 애니메이션
.details-wrap,
.details {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.details-wrap {
  overflow: hidden;
}

.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
  --grid-row: 1;
  --grid-column: 1;
  transform: rotate3d(0, 0, 1, -35deg);
  opacity: 1;
}

.panel__img {
  grid-area: var(--grid-row) / var(--grid-column) / span 12 / span 5;
  will-change: transform;
}

.pos-1 {
  --grid-row: 10;
  --grid-column: 1;
}
.pos-2 {
  --grid-row: 1;
  --grid-column: 18;
}
.pos-3 {
  --grid-row: 1;
  --grid-column: 29;
}
.pos-4 {
  --grid-row: 15;
  --grid-column: 12;
}
.pos-5 {
  --grid-row: 17;
  --grid-column: 25;
}
.pos-6 {
  --grid-row: 20;
  --grid-column: 43;
}
.pos-7 {
  --grid-row: 35;
  --grid-column: 5;
}
.pos-8 {
  --grid-row: 40;
  --grid-column: 14;
}
.pos-9 {
  --grid-row: 37;
  --grid-column: 29;
}
.pos-10 {
  --grid-row: 35;
  --grid-column: 42;
}
.pos-11 {
  --grid-row: 7;
  --grid-column: 46;
}
.pos-12 {
  --grid-row: 32;
  --grid-column: 20;
}
.pos-13 {
  --grid-row: 22;
  --grid-column: 2;
}
.pos-14 {
  --grid-row: 9;
  --grid-column: 38;
}
.pos-15 {
  --grid-row: 4;
  --grid-column: 7;
}
.pos-16 {
  --grid-row: 28;
  --grid-column: 36;
}

.panel__img {
  width: 100px;
}

.details {
  display: grid;
  place-items: center;
  pointer-events: none;
  opacity: 0;
}

.details--open {
  pointer-events: auto;
  opacity: 1;
}

.details--open ~ .close--details {
  opacity: 1;
  pointer-events: auto;
}

.details__content {
  padding: 1.5rem;
  margin: 0 auto;
  position: relative;
}

.details__content-title {
  font-weight: normal;
  margin: 0;
  font-size: var(--font-size-xlarge);
}

.details__content-text {
  line-height: 1;
  max-width: 640px;
  font-size: var(--font-size-medium);
}

.details__content-link {
  position: relative;
  display: inline-block;
  font-size: var(--font-size-small);
  color: var(--color-text);
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

.details__content-link:hover {
  color: var(--color-menu-hover);
}
