@import "./App.scss";

body {
  -ms-overflow-style: none;
}
.page::-webkit-scrollbar {
  display: none;
}

.page {
  display: flex;

  .modalback {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    place-items: center;

    .chargeinfomodalview {
      background-color: #fff;
      border-radius: 20px;
      width: 370px;
      height: 315px;
      display: flex;
      flex-direction: column;
      //   justify-content: center;
      // align-items: center;
      padding: 20px 40px 15px 40px;
      .exit {
        margin-top: 10px;

        width: 100%;
        display: flex;
        justify-content: flex-end;
        div {
          cursor: pointer;
        }
      }

      .pimheader {
        margin-top: 30px;
        font-size: 21px;
        font-weight: bold;
        color: $fontcolor;
      }

      .pimmiddle {
        margin-top: 40px;
        .pimmf {
          display: flex;
          align-items: center;
          margin-top: 5px;
          font-size: 14px;
          font-weight: bold;
          color: #656565;
          span {
            color: #f24e4e;
          }
          img {
            margin: 0 0 0 5px;
            width: 18px;
          }
        }
      }
      .clearbtnwrap {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
        .clearbtn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 50px;
          background-color: $maincolor;
          cursor: pointer;
          border-radius: 10px;
          border: none;
          .clearbtnw {
            font-weight: bold;
            font-size: 14px;
            color: #fff;
          }
        }
      }
    }

    .penaltyinfomodalview {
      background-color: #fff;
      border-radius: 20px;
      width: 370px;
      height: 315px;
      display: flex;
      flex-direction: column;
      //   justify-content: center;
      // align-items: center;
      padding: 20px 40px 15px 40px;
      .exit {
        margin-top: 10px;

        width: 100%;
        display: flex;
        justify-content: flex-end;
        div {
          cursor: pointer;
        }
      }

      .pimheader {
        margin-top: 30px;
        font-size: 21px;
        font-weight: bold;
        color: $fontcolor;
      }

      .pimmiddle {
        margin-top: 20px;
        .pimmf {
          margin-top: 5px;
          font-size: 14px;
          font-weight: bold;
          color: #656565;
          span {
            margin: 0 -3px 0 4px;
            color: #f24e4e;
          }
        }
      }
      .clearbtnwrap {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
        .clearbtn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 50px;
          background-color: $maincolor;
          cursor: pointer;
          border-radius: 10px;
          border: none;
          .clearbtnw {
            font-weight: bold;
            font-size: 14px;
            color: #fff;
          }
        }
      }
    }

    .selectprofilemodalview {
      background-color: #fff;
      border-radius: 20px;
      width: 350px;
      height: 500px;
      display: flex;
      flex-direction: column;
      //   justify-content: center;
      //   align-items: center;
      padding: 20px 50px 15px 45px;
      .exit {
        margin-top: 10px;

        width: 97%;
        display: flex;
        justify-content: flex-end;
        div {
          cursor: pointer;
        }
      }
      .spimheader {
        .spimhfirst {
          margin: 20px 0 60px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          .spipmhff {
            font-size: 20px;
            font-weight: bold;
            color: $fontcolor;
          }
        }
        .spimain {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
          img {
            width: 100px;
            height: 100px;
          }
        }
      }
      .selectimg {
        img {
          margin: 8px;
        }
      }

      .partysignbtn {
        margin-top: 30px;
        cursor: pointer;
        width: 97%;
        height: 50px;
        background-color: #4040cc;
        border: none;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        border-radius: 15px;

        .partysignbtnw {
          font-size: 18px;
          font-weight: bold;
          color: #fff;
        }
      }
    }

    .selectratemodalview {
      background-color: #fff;
      border-radius: 20px;
      width: 490px;
      height: 500px;
      display: flex;
      flex-direction: column;
      //   justify-content: center;
      //   align-items: center;
      padding: 20px 50px 15px 45px;

      .exit {
        margin-top: 30px;

        width: 97%;
        display: flex;

        justify-content: flex-end;
        div {
          cursor: pointer;
        }
      }

      .srmheader {
        margin-top: 20px;
        font-size: 21px;
        color: $fontcolor;
        font-weight: bold;
      }

      .srmmiddle {
        margin: 35px 0;
        width: 100%;
        border-radius: 20px;
        border: 2px solid #b3c1ef;

        .srmmup {
          display: flex;
          margin: 20px 20px;
          align-items: center;
          .srmmuimg {
            display: flex;
            align-items: center;
            margin-right: 3px;
          }

          .srmmuexp {
            font-size: 18px;
            font-weight: bold;
            color: #b3c1ef;
          }
        }
        .srmmdown {
          margin: 20px 20px;
          div {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: bold;
          }
        }
      }

      .clearbtnwrap {
        margin-top: 90px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .clearbtn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 50px;
          background-color: $maincolor;
          cursor: pointer;
          border-radius: 10px;
          border: none;
          .clearbtnw {
            font-weight: bold;
            font-size: 14px;
            color: #fff;
          }
        }
      }
    }

    .setcardmodalview {
      background-color: #fff;
      border-radius: 20px;
      width: 490px;
      height: 650px;
      display: flex;
      flex-direction: column;
      //   justify-content: center;
      //   align-items: center;
      padding: 20px 50px 15px 45px;

      .exit {
        margin-top: 30px;
        //cursor: pointer;
        width: 97%;
        display: flex;
        justify-content: flex-end;
        div {
          cursor: pointer;
        }
      }

      .scmheader {
        margin-top: 20px;
        font-size: 21px;
        color: $fontcolor;
        font-weight: bold;
      }

      .scmhf {
        margin-top: 30px;
        width: 100%;
        font-size: 14px;
        color: #656565;
      }

      .sdmmf {
        margin-top: 20px;
        position: relative;
        background-color: #f7f7f7;
        border-radius: 10px;
        width: 94%;
        height: 60px;

        div {
          position: absolute;
          font-size: 14px;
          margin-left: 20px;
          color: #656565;
          font-weight: bold;
        }

        input {
          font-size: 20px;
          width: 100%;
          padding-left: 20px;

          height: 100%;
          border: none;
          background-color: #f7f7f7;
          border-radius: 10px;
        }
        input:focus {
          outline: 2px solid #4040cc;
        }
      }

      .ssmmf {
        position: relative;
        margin-bottom: 180px;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-color: #f7f7f7;
        border-radius: 10px;
        width: 100%;
        height: 60px;

        input {
          font-size: 14px;
          width: 100%;
          padding-left: 300px;
          height: 100%;
          border: none;
          background-color: #f7f7f7;
          border-radius: 10px;
        }

        input:focus {
          outline: 2px solid #4040cc;
        }
      }
      .ssmmfmonth {
        z-index: 10;
        position: absolute;
        font-size: 14px;
        margin: 237px 0 0 20px;
        color: #656565;
        font-weight: bold;
      }
      .ssmmfday {
        position: absolute;
        font-size: 14px;
        margin: 237px 0 0 450px;
        color: #656565;
        font-weight: bold;
      }

      .ssmmf:focus {
        outline: 2px solid #4040cc;
      }

      .sdmms {
        width: 94%;
        display: flex;
        justify-content: space-between;

        .sdmmsf {
          margin-top: 20px;
          position: relative;
          background-color: #f7f7f7;
          border-radius: 10px;
          width: 215px;
          height: 60px;
          div {
            position: absolute;
            font-size: 14px;
            margin-left: 20px;
            color: #656565;
            font-weight: bold;
          }

          input {
            font-size: 20px;
            width: 100%;
            padding-left: 20px;
            height: 100%;
            border: none;
            background-color: #f7f7f7;
            border-radius: 10px;
          }

          input:focus {
            outline: 2px solid #4040cc;
          }
        }

        .sdmmss {
          margin-top: 20px;
          position: relative;
          background-color: #f7f7f7;
          border-radius: 10px;
          width: 215px;
          height: 60px;
          div {
            position: absolute;
            font-size: 14px;
            margin-left: 20px;
            color: #656565;
            font-weight: bold;
          }

          input {
            font-size: 20px;
            width: 100%;
            padding-left: 20px;
            height: 100%;
            border: none;
            background-color: #f7f7f7;
            border-radius: 10px;
          }

          input:focus {
            outline: 2px solid #4040cc;
          }
        }
      }
      .warning {
        color: rgb(255, 124, 124);
        height: 30px;
        margin: 20px;
      }
      .clearbtnwrap {
        margin-top: 90px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .clearbtn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 50px;
          background-color: $maincolor;
          cursor: pointer;
          border-radius: 10px;
          border: none;
          .clearbtnw {
            font-weight: bold;
            font-size: 14px;
            color: #fff;
          }
        }
      }
    }

    .setsettlementmodalview {
      background-color: #fff;
      border-radius: 20px;
      width: 490px;
      height: 500px;
      display: flex;
      flex-direction: column;
      //   justify-content: center;
      //   align-items: center;
      padding: 20px 50px 15px 45px;

      .exit {
        margin-top: 30px;
        //cursor: pointer;
        width: 97%;
        display: flex;
        justify-content: flex-end;
        div {
          cursor: pointer;
        }
      }

      .scmheader {
        margin-top: 20px;
        font-size: 21px;
        color: $fontcolor;
        font-weight: bold;
      }

      .scmhf {
        margin-top: 30px;
        width: 100%;
        font-size: 14px;
        color: #656565;
      }

      .sdmmf {
        margin-top: 20px;
        position: relative;
        background-color: #f7f7f7;
        border-radius: 10px;
        width: 94%;
        height: 60px;

        div {
          position: absolute;
          font-size: 14px;
          margin-left: 20px;
          color: #656565;
          font-weight: bold;
        }

        input {
          font-size: 20px;
          width: 100%;
          padding-left: 20px;
          height: 100%;
          border: none;
          background-color: #f7f7f7;
          border-radius: 10px;
        }
        input:focus {
          outline: 2px solid #4040cc;
        }
      }

      .ssmmf {
        position: relative;
        margin-bottom: 50px;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-color: #f7f7f7;
        border-radius: 10px;
        width: 100%;
        height: 60px;

        input {
          font-size: 14px;
          width: 100%;
          padding-left: 300px;
          height: 100%;
          border: none;
          background-color: #f7f7f7;
          border-radius: 10px;
        }

        input:focus {
          outline: 2px solid #4040cc;
        }
      }
      .ssmmfmonth {
        z-index: 10;
        position: absolute;
        font-size: 14px;
        margin: 237px 0 0 20px;
        color: #656565;
        font-weight: bold;
      }
      .ssmmfday {
        position: absolute;
        font-size: 14px;
        margin: 237px 0 0 450px;
        color: #656565;
        font-weight: bold;
      }

      .ssmmf:focus {
        outline: 2px solid #4040cc;
      }

      .clearbtnwrap {
        margin-top: 90px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .clearbtn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 50px;
          background-color: $maincolor;
          cursor: pointer;
          border-radius: 10px;
          border: none;
          .clearbtnw {
            font-weight: bold;
            font-size: 14px;
            color: #fff;
          }
        }
      }
    }

    .withdrawalmodalview {
      z-index: 100;
      background-color: #fff;
      border-radius: 20px;
      width: 490px;
      height: 650px;
      display: flex;
      flex-direction: column;
      //   justify-content: center;
      //   align-items: center;
      padding: 20px 50px 15px 45px;

      .exit {
        margin-top: 30px;

        width: 97%;
        display: flex;
        justify-content: flex-end;
        div {
          cursor: pointer;
        }
      }

      .wdmheader {
        font-size: 21px;
        font-weight: bold;
        color: $fontcolor;
        margin-top: 20px;
      }

      .podomoney {
        font-size: 16px;
        font-weight: bold;
        color: $fontcolor;
        margin-top: 30px;
      }

      .wdmmf {
        margin-top: 15px;
        width: 90%;
        height: 60px;
        background-color: #f7f7f7;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px 0 25px;
      }

      .withdrawalaccount {
        margin-top: 30px;
        font-size: 16px;
        font-weight: bold;
        color: $fontcolor;
      }

      .wdmms {
        cursor: pointer;
        margin-top: 15px;
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f0f0ff;
        border-radius: 10px;

        .wdmmff {
          font-size: 14px;
          font-weight: bold;
          color: #4040cc;
        }
        .wdmmfs {
          font-size: 13px;
          color: #4040cc;
        }
      }

      .withdrawalguide {
        margin-top: 40px;
        font-size: 16px;
        color: #656565;
      }

      .wdmpay {
        margin-top: 15px;

        .wdmpayw {
          font-size: 13px;
          color: #656565;
        }
      }

      .clearbtnwrap {
        margin-top: 70px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .clearbtn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 50px;
          background-color: $maincolor;
          cursor: pointer;
          border-radius: 10px;
          border: none;
          .clearbtnw {
            font-weight: bold;
            font-size: 14px;
            color: #fff;
          }
        }
      }
    }

    .accountmodalview {
      z-index: 999;
      background-color: #fff;
      border-radius: 20px;
      width: 490px;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      //   align-items: center;
      padding: 20px 50px 15px 45px;

      .exit {
        width: 97%;
        display: flex;
        justify-content: flex-end;
        div {
          cursor: pointer;
        }
      }

      .samheader {
        margin-top: 20px;

        .samhfirst {
          font-size: 21px;
          font-weight: bold;
          color: $fontcolor;
        }

        .samhsecond {
          margin-top: 10px;
          font-size: 14px;
          color: #656565;
        }
      }

      .selectbank {
        margin-top: 60px;
        font-size: 14px;
        color: #656565;
      }

      .sammf {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .sammff {
          background-color: #f7f7f7;
          height: 45px;
          width: 95%;
          border-radius: 15px;
          border: none;
          padding: 15px 0 0 20px;
          font-size: 18px;
        }
        .sammff:focus {
          outline: 2px solid #4040cc;
        }

        .choosebank {
          border-radius: 15px;
          margin-top: 80px;
          height: 300px;
          overflow: auto;
          background-color: #fff;
          position: absolute;
          display: grid;
          grid-template-columns: repeat(3, 150px);
          width: 480px;
          padding: 10px;
          box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.25);

          div {
            font-weight: 500;
            cursor: pointer;
            margin: 3px 0 5px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
              width: 30px;
            }
          }
        }
        // .choosebank::-webkit-scrollbar {
        //   width: 5px;
        //   display: block;
        // }
        // .choosebank::-webkit-scrollbar-thumb {
        //   background-color: #dad6d6;
        //   border-radius: 1px;
        // }
        // .choosebank::-webkit-scrollbar-track {
        //   background-color: transparent;
        // }
      }

      .samms {
        margin-top: 20px;
        .sammff {
          background-color: #f7f7f7;
          height: 50px;
          width: 95%;
          border-radius: 15px;
          border: none;
          padding: 10px 0 0 20px;
          font-size: 18px;
        }
        .sammff:focus {
          outline: 2px solid #4040cc;
        }
      }

      .clearbtnwrap {
        margin-top: 150px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .clearbtn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 50px;
          background-color: $maincolor;
          cursor: pointer;
          border-radius: 10px;
          border: none;
          .clearbtnw {
            font-weight: bold;
            font-size: 14px;
            color: #fff;
          }
        }
      }
    }

    .loginmodalview {
      background-color: #fff;
      border-radius: 20px;
      width: 520px;
      height: 550px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 20px 15px 20px;

      .exit {
        width: 97%;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        div {
          cursor: pointer;
        }
      }

      .lmheader {
        width: 70%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        .lmhfirst {
          font-size: 28px;
          font-weight: bold;
        }

        .lmhsecond {
          font-size: 28px;
          font-weight: bold;
        }
      }
      .lmmiddle {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        width: 80%;
        height: 200px;

        .socialloginBtn {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: fit-content;
          background-color: #fff;
          border-radius: 20px;
          border: 1px solid #dfdfdf;
          margin-bottom: 30px;
          font-size: 15px;
          img {
            width: 24px;
            height: 24px;
            margin: 5px 10px 5px 0;
          }
          .guestlogo {
            width: 20px;
            height: 20px;
          }
        }
      }

      .forgotlogin {
        margin-top: 80px;
        margin-bottom: 30px;
        font-size: 16px;
        text-decoration-line: underline;
        color: #656565;
      }
    }

    .modalview {
      background-color: #fff;
      border-radius: 20px;
      width: 465px;
      height: 755px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px 30px 15px 35px;

      .exit {
        width: 97%;
        display: flex;
        justify-content: flex-end;
        div {
          cursor: pointer;
        }
      }

      .cpmheader {
        margin: 20px 0 0 0;
        width: 80%;
        display: flex;

        .cpmhfirst {
          display: flex;

          .cpmhff {
            font-size: 18px;
            font-weight: bold;
            color: $fontcolor;
          }

          .cpmhfs {
            font-size: 18px;
            font-weight: bold;
            color: #48d7d7;
            margin-left: 15px;
          }
        }

        .cpmhsecond {
          font-size: 18px;
          font-weight: bold;
          color: $fontcolor;
        }
      }

      .cpmmf {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 65px;
        background-color: #f6f6f6;
        border-radius: 15px;
        padding: 0 20px;

        .cpmmff {
          font-size: 18px;
          font-weight: bold;
          color: #888888;
        }

        .cpmmfs {
          font-size: 18px;
          font-weight: bold;
          color: $fontcolor;
        }
      }

      .cpmms {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 65px;
        background-color: #f6f6f6;
        border-radius: 15px;
        padding: 0 20px;

        .cpmmff {
          font-size: 18px;
          font-weight: bold;
          color: #888888;
        }

        .cpmmfs {
          font-size: 18px;
          font-weight: bold;
          color: $fontcolor;
        }
      }

      .cpmpay {
        font-size: 18px;
        font-weight: bold;
        color: $fontcolor;
        margin: 70px 0 20px 0;
      }

      .cpmpayf {
        width: 90%;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid #c4c4c4;

        .cpmpayfh {
          display: flex;
          align-items: center;
          justify-content: center;

          .cpmpayfhf {
            font-size: 18px;
            color: #888888;
            font-weight: bold;
          }

          .cpmpayfhs {
            margin: 1px 0 0 5px;
            font-size: 12px;
            color: #888888;
          }
        }

        .cpmpayff {
          font-size: 18px;
          font-weight: bold;
          color: $fontcolor;
        }
      }

      .partysignbtn {
        margin-top: 130px;
        cursor: pointer;
        width: 97%;
        height: 50px;
        background-color: $maincolor;
        border: none;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        border-radius: 15px;

        .partysignbtnw {
          font-size: 18px;
          font-weight: bold;
          color: #fff;
        }
      }

      .jpmheader {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 100%;

        .jpmhfirst {
          font-size: 31px;
          font-weight: bold;
          color: $fontcolor;
        }
        .jpmhsecond {
          font-size: 31px;
          font-weight: bold;
          color: $fontcolor;
        }
      }

      .jpmmf {
        margin-top: 80px;
        width: 100%;
        height: 75px;
        border: 1px solid #c6c6c6;
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .jpmmff {
          font-size: 16px;
          font-weight: bold;
          color: $fontcolor;
          margin-left: 10px;
        }

        .jpmmfs {
          display: flex;
          cursor: pointer;
          font-size: 15px;
          color: #c6c6c6;
          margin-right: 15px;
          justify-content: center;
          align-items: center;

          .righticon {
            margin-left: 5px;
            display: flex;
            align-items: center;
          }
        }
      }

      .jpmms {
        margin-top: 20px;
        width: 100%;
        height: 75px;
        border: 1px solid #c6c6c6;
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .jpmmff {
          font-size: 16px;
          font-weight: bold;
          color: $fontcolor;
          margin-left: 10px;
        }

        .jpmmfs {
          display: flex;
          align-items: center;
          cursor: pointer;
          font-size: 15px;
          color: #c6c6c6;
          margin-right: 15px;

          .righticon {
            display: flex;
            align-items: center;
            margin-left: 5px;
          }
        }
      }

      .jpmpay {
        margin-top: 20px;
        font-size: 15px;
        color: #c6c6c6;
      }

      .joinpartysign {
        margin-top: 150px;
        display: flex;
        justify-content: flex-end;
        width: 100%;

        border: none;
        .joinpartysignbtn {
          display: flex;
          width: 160px;
          height: 56px;
          border-radius: 20px;
          background-color: #4040cc;
          justify-content: center;
          align-items: center;
          border: none;
          cursor: pointer;
          .joinpartysignbtnw {
            font-size: 18px;
            color: #fff;
          }
        }
      }
    }
  }
  .loadingback {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .page {
    .modalback {
      .setsettlementmodalview {
        width: 330px;
        height: 400px;
        padding: 10px 25px 15px 15px;
        .scmhf {
          font-size: 10px;
        }

        .ssmmf {
          margin: 20px 0 0 0;
          input {
            padding: 1px 2px 1px 120px;
          }
          input:focus {
            outline: 2px solid #4040cc;
          }
          div {
            margin: 0 10px;
          }
        }
        .ssmmfmonth {
          z-index: 10;
          position: absolute;
          font-size: 14px;
          margin: 207px 0 0 20px;
          color: #656565;
          font-weight: bold;
        }
        .ssmmfday {
          position: absolute;
          font-size: 14px;
          margin: 207px 0 0 300px;
          color: #656565;
          font-weight: bold;
        }
      }
      .selectprofilemodalview {
        width: 330px;
        padding: 10px 25px 15px 15px;
      }
      .selectratemodalview {
        width: 330px;
        padding: 10px 25px 15px 15px;
      }

      .loginmodalview {
        width: 320px;
        height: 480px;
        padding: 20px 20px 15px 20px;
        .lmheader {
          .lmhfirst {
            font-size: 17px;
          }
          .lmhsecond {
            font-size: 17px;
          }
        }
        .lmmiddle {
          margin-top: 50px;
        }
        .forgotlogin {
          margin-top: 40px;
        }
      }

      .withdrawalmodalview {
        justify-content: flex-start;
        text-align: start;
        width: 330px;
        padding: 10px 25px 15px 15px;
      }

      .modalview {
        width: 330px;
        height: 650px;
        padding: 10px 25px 15px 15px;
        .partysignbtn {
          margin-top: 70px;
        }
        .jpmheader {
          .jpmhfirst {
            font-size: 23px;
          }
          .jpmhsecond {
            font-size: 23px;
          }
        }
        .joinpartysign {
          margin-top: 100px;
        }
      }

      .setcardmodalview {
        width: 330px;
        height: 600px;
        padding: 10px 25px 15px 15px;
        .scmhf {
          font-size: 10px;
        }

        .ssmmf {
          input {
            padding: 1px 2px 1px 120px;
          }
          input:focus {
            outline: 2px solid #4040cc;
          }
          div {
            margin: 0 10px;
          }
        }
        .ssmmfmonth {
          z-index: 10;
          position: absolute;
          font-size: 14px;
          margin: 227px 0 0 20px;
          color: #656565;
          font-weight: bold;
        }
        .ssmmfday {
          position: absolute;
          font-size: 14px;
          margin: 227px 0 0 300px;
          color: #656565;
          font-weight: bold;
        }
        .sdmms {
          .sdmmsf {
            width: 140px;
          }
          .sdmmss {
            width: 140px;
          }
        }
        .clearbtnwrap {
          margin-top: 70px;
        }
      }
      .accountmodalview {
        width: 360px;
        height: 550px;
        padding: 10px 25px 15px 15px;
        .sammf {
          .choosebank {
            width: 350px;
            grid-template-columns: repeat(3, 110px);
          }
        }
      }
    }
  }
}
